
   body {
     background-color: lightgrey;
   }
   header {
     width: 100%;
     padding: 4ex;
     position: fixed;
     background-color: #EE953C;
     float: top;
     a {
     text-decoration: none;
     color: black;
     padding: 0 4ex;
   }
.container {
  margin: auto;
  font-size: 500%;
  width: 100%;
  height: 20ex;
  width: 15ex;
  display: block;
  text-align: center;
}
.essay {
  background-color: red;
}
.weekly {
  background-color: purple;
}
.tutorial {
  background-color: pink;
}
